<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/user}">
    <div>
        <label>UserName
            <input type="text" th:value="${username}">
        </label>
    </div>
    <div>
        <label>Email
            <input type="email" th:value="${email}">
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name="password">
        </label>
    </div>
    <div>
        <label>Confirm Password
            <input type="password" name="passwordVerified">
        </label>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>